#nuxeo.mongodb.server=mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]
nuxeo.mongodb.server=mongodb://localhost:27017
nuxeo.mongodb.dbname=nuxeo
nuxeo.mongodb.collection=default

elasticsearch.addressList=localhost:9200
elasticsearch.indexName=nuxeo
#elasticsearch.restClient.username=
#elasticsearch.restClient.password=
#elasticsearch.restClient.truststore.path=
#elasticsearch.restClient.truststore.password=
#elasticsearch.restClient.truststore.type=
#elasticsearch.restClient.keystore.path=
#elasticsearch.restClient.keystore.password=
#elasticsearch.restClient.keystore.type=


checker.pool.size=10

## Skip these checkers
## Especially the AclChecker must be disabled if you have lots of ACL and want a quick feedback
checker.blackList=AclChecker


